@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700;800;900&display=swap');

:root {
  --color-default: linear-gradient(to right bottom, #051937,
  #004d7a, #008793, #00bf72, #a8eb12);;
}

*{
  box-sizing: border-box;
  font-family: 'Schibsted Grotesk', sans-serif;
  text-decoration: none;
}

body {
  min-height: 100vh;
  /*background: var(--color-default);*/
  background-image: url('./assets/img/2757.jpg');
  background-size: cover;
}

section {
  display: flex;
  margin-top: 95px;
  align-items: center;
  justify-content: center;
}


section .lamina {
  content:'';
  width: 32rem;
  height:32rem;
  background: #D9D9D9;
  border-radius: 20px;
  
  align-items: center;
  justify-content: center;

  --borderWidth: 8px;
  position: relative;
  border-radius: 20px;
}

section .lamina:after
{
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: 20px;
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient
{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position:100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

section .formulario
{
  display: grid;
  
  font-size: 1rem;
  font-weight: 700;
  
  align-items: center;
  justify-content: center;
}

section .formulario h1
{
  font-size: 3rem;
  color: #2b1055;
  text-align: center;
  letter-spacing: 0.2em;
}

section .formulario .info
{
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

}

section .formulario .info input
{
  height: 3rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 20px 20px grey;
  font-size: 1.5rem;
  text-align: center;
}

section .formulario .info button
{
  margin-top: 1.5rem;
  padding: 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 10px grey;
  font-size: 1.2rem;
}

section .formulario .info button:hover
{
  font-weight: 900;
  font-size: 1.3rem;
  color: #fff;
  background: #0DF205;
  border-color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

section .formulario .ajuda  
{
 display: flex;
 justify-content: space-around;
 margin-top: 2.5rem;
 text-decoration: none;
}

section .formulario .ajuda a
{
    font-size: 10px;
    font-weight: 200;

}
